<div style = "margin-bottom:10px">
    <button class="btn" value="trigonometric">三角関数</button>
</div>
<div style = "margin-bottom:10px">
    <button class="btn" value="exponential_logarithmic_function">指数関数・対数関数</button>
</div>
<div style = "margin-bottom:10px">
    <button class="btn" value="complex_plane">複素数平面</button>
</div>
<div style = "margin-bottom:10px">
    <button class="btn" value="differential_method">微分法</button>
</div>
<div style = "margin-bottom:10px">
    <button class="btn" value="integration_method">積分法</button>
</div>
